@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lobster&family=Tiro+Devanagari+Hindi:ital@1&display=swap');

:root {
  --dogelogo: 'Tiro Devanagari Hindi', 'serif';
  --headline: 'Lobster', 'cursive';
  --teaxter: 'EB Garamond', 'serif';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  overflow-x: hidden;
}
